.profile__info {
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 50px 30px;
  grid-template-areas:
  "title button"
  "subtitle .";
  margin: 22px auto 25px 0;
  padding: 0;
  column-gap: 18px;
  row-gap: 7px;
  box-sizing: border-box;
}
  
@media (max-width: 1023px) {
  .profile__info {
    margin: 22px auto 20px 0;
    grid-template-columns: 220px 20px;
    grid-template-rows: 35px 25px;
    column-gap: 2px;
    row-gap: 2px;
  }
}
  
@media (max-width: 767px) {
  .profile__info {
    margin: 0 auto;
    padding: 0 0 0 25px;
    grid-template-columns: 189px 18px;
    grid-template-rows: 32px 20px;
    column-gap: 10px;
    row-gap: 10px;
  }
}