.authentication__input {
  height: 20px;
  padding: 3px 0;
  border: none;
  border-bottom: 2px solid #ccc;
  color: inherit;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.authentication__input:focus {
  border: 3px solid rgba(9, 133, 234, 0.6);
  border-radius: 2px;
}

@media (max-width: 767px) {
  .authentication__input {
    max-width: 238px;
  }
}