.elements__delete-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url(../../../images/elements__delete-button.svg);
  width: 18px;
  height: 19px;
  background-size: contain;
  background-repeat: no-repeat;
  transition: opacity .4s linear;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
}
          
.elements__delete-button:hover {
  opacity: .6;
}